# .env.example

# URL подключения к базе данных PostgreSQL
DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE"

# Секрет для подписи JWT access token
JWT_ACCESS_SECRET=""

# Секрет для подписи JWT refresh token
JWT_REFRESH_SECRET=""

# Время жизни access токена
JWT_ACCESS_EXPIRES="15m"

# Время жизни refresh токена
JWT_REFRESH_EXPIRES="7d"